pre.highlight code {
  .k, .kt {
    color: #a56662;
  }

  .kt {
    font-style: italic;
  }

  .n, .nv {
    color: #fff4e6;
  }

  .o, .p {
    color: #be9b7b;
  }

  .c1, .c2 {
    color: #777;
    font-style: italic;
  }

  .mi, .se {
    color: #a2798f;
  }
}
