{% include head-dark.html %}

<section class="article archive-wrap">
    <article class="archive tilcat">
        <header class="post-header">
            <hgroup>
                <h1>{{ page.title }}</h1>
                <p class="intro">{{ content }}</p>
            </hgroup>
        </header>

        {% for cat in site.data.tilcats %}
            <article id="tilcat-{{ cat.id }}">
                <header>
                    <h4>{{ cat.name }}</h4>
                    <p>{{ cat.description }}</p>
                </header>

                <ul>
                    {% for post in site.til %}
                        {% unless post.category == cat.id %}{% continue %}{% endunless %}
                        <li>
                            <div itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </article>
        {% endfor %}
    </article>
</section>

{% include footer.html %}
